
    <div nz-row  nzJustify = "center">
            <div nz-col nz-col nzXs="0" nzSm="0" nzMd="3" nzLg="3" nzXl="3">

                </div>
        <div nz-col nz-col nzXs="24" nzSm="24" nzMd="19" nzLg="19" nzXl="19">
            <img src = "assets/images/Logo_title.png" style="width:100%"  />
        </div>

    <div nz-col nzXs="0" nzSm="0" nzMd="4" nzLg="4" nzXl="4">
        </div>
        
    </div>
<br>
<div nz-row>
    <div nz-col nz-col nzXs="0" nzSm="4" nzMd="6" nzLg="8" nzXl="4">
    </div>
    <div nz-col nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="8" nzXl="16">
        <p style="font-family:'Montserrat';font-size: 22px;width:100%;text-align: center"  >Join world's biggest community of football fans</p>
    </div>
    <div nz-col nzXs="0" nzSm="0" nzMd="6" nzLg="8" nzXl="4">
      </div>
  
</div>
<br>
<div nz-row nzType="flex">
        <div nz-col nzXs="0" nzSm="4" nzMd="3" nzLg="3" nzXl="3">
            </div>
    <div nz-col  nzXs="24" nzSm="24" nzMd="19" nzLg="19" nzXl="19">
            <img src = "assets/images/google_login.png" style="width:100%;cursor: pointer" (click)="signInWithGoogle('Google');destroyModal()"/>
    </div>
   
    <div  nz-col nzXs="0" nzSm="0" nzMd="2" nzLg="2" nzXl="2">
        </div>
</div>
<br>
<div nz-row nzType="flex">
        <div nz-col nzXs="0" nzSm="4" nzMd="3" nzLg="3" nzXl="3">
            </div>
    <div nz-col  nzXs="24" nzSm="24" nzMd="19" nzLg="19" nzXl="19">
            <img src = "assets/images/faceboojk_login.png" style="width:100%;cursor: pointer" (click)="signInWithFacebook('FaceBook');destroyModal()"/>
    </div>
   
    <div nz-col nzXs="0" nzSm="0" nzMd="2" nzLg="2" nzXl="2">
        </div>
</div>

<br><br>
<div nz-row nzType="flex">
        <div nz-col nzXs="0" nzSm="4" nzMd="3" nzLg="3" nzXl="3">
            </div>
    <div nz-col  nzXs="24" nzSm="24" nzMd="19" nzLg="19" nzXl="19">
            <p style="font-family:'Montserrat';font-size: 14px;width:100%;text-align: center"  >*By continuing, I agree that I have read and agree to FooterRant’s Terms of Service and Privacy Policy.
                </p>
    </div>
   
    <div nz-col nzXs="0" nzSm="0" nzMd="2" nzLg="2" nzXl="2">
        </div>
</div>

<!-- <div *nzModalFooter>

</div> -->