<!-- <mat-toolbar style="box-shadow: 5px 5px #D3D3D3	;">

    <img src="icon.png"/>
    <span class = "fillerLess"></span>
    <span class = "gap">FooterRant</span>
   
    <span class = "filler"></span>
    <button mat-button color="primary" (click)="signInWithGoogle('Google');"  class = "gap">Login</button>
    <button mat-stroked-button color="warn" style="border-radius:20px">Signup</button>
 

 </mat-toolbar> -->

 <!-- <app-footerrant-feed></app-footerrant-feed> -->
 <app-header  ></app-header>

 <router-outlet></router-outlet>
<!-- <app-footerrant-feed></app-footerrant-feed> -->

 <!-- <mat-grid-list  cols =  "1">
        <mat-grid-tile colspan = "1">
            seiegskonsdkv soifnfsionv
        </mat-grid-tile>
 </mat-grid-list> -->

 <!-- <mat-grid-list  cols =  "4" *ngFor="let each of unPubLishedContentList; let i = index">
<mat-grid-tile colspan = "1" *ngIf = "i==0" >
    sdsifn eweiofewiofn sie {{i}}

</mat-grid-tile>
<mat-grid-tile colspan = "1" *ngIf = "i!=0" >

        
    </mat-grid-tile>
<mat-grid-tile colspan = "2"  >
 <div fxLayout="row"  fxLayoutGap="12px" [style.margin-top]="'12px'">
        <mat-card style="width: 300px;height:200px;">
          <div class="mat-body-2">Code compilé</div>
          <div class="mat-body-1">{{each.videoId}}</div>
        </mat-card>
        <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
      </div>
    </mat-grid-tile>
 </mat-grid-list>  -->

 <!-- <mat-card class="example-card" *ngFor="let each of unPubLishedContentList">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
       
        <mat-card-content>
          <p>
                {{each.thumbnail1}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

<ul>
        <li  *ngFor="let each of unPubLishedContentList" >
                {{each.videoId}}
                {{each.title}}
                {{each.thumbnail1}}
                {{each.thumbnail1}}
                {{each.thumbnail1}}
                {{each.thumbnail1}}
                {{each.thumbnail1}}
                {{each.thumbnail1}}
                {{each.thumbnail1}}

                {{each.thumbnail1}}
        </li>
    </ul> -->


    <!-- <cdk-virtual-scroll-viewport itemSize="100">
        sesfnefknesf 
            <li *cdkVirtualFor="let fact of dataSource">
                
                sdfsdlkfnsd  s
                {{fact.thumbnail1}}
            </li>
          </cdk-virtual-scroll-viewport> -->

    <!-- <div   class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()"
    >

    </div> -->

    <!-- <loading-spinner *ngIf="!finished"></loading-spinner> -->

    <!-- <div class="notification is-warning" *ngIf="finished">

    </div> -->